
*{
    margin: 1;
    padding: 1;
}
body{
    background-color: rgba(128, 128, 128, 0.205);
}
header{
    position: absolute;
    padding-top: 0px;
    padding-left: 18px;
    margin-left: 0px;
    color: rgb(197, 195, 195);
    font-size: 18px;
    font-family: "Overlock SC";
}
header p{
    color: rgb(197, 195, 195);
    font-size: 35px;
    font-family: "Overlock SC";
    text-align: center;
    margin-top: -50px;
}
.caja1{
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.836);
    height: 1800px; width: 230px;
}
.caja1home{
    position: absolute;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.836);
    height: 685px; width: 230px;
}
.caja1estudio{
    position: absolute;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.836);
    height: 2800px; width: 230px;
}
.caja1estudio p{
    color: rgb(197, 195, 195);
    font-size: 35px;
    font-family: "Overlock SC";
    text-align: center;
    margin-top: -50px;
}
ul{
    list-style: none;
}
nav{
    padding-top: 200px;
    letter-spacing: 8px;
    color: rgb(197, 195, 195);
    margin-top: 20px;
    margin-left: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    font-family: "Palanquin";
    text-align: center;
    position: fixed;
}
a{
    text-decoration: none;
    color: rgb(197, 195, 195);
}
h1{
    color: rgb(197, 195, 195);
    margin-top: 10px;
    font-size: 90px;
    font-family: "Overlock SC";
    text-align: center;
}
h2{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h3{
    font-size: 35px;
    font-family: "Palanquin";
    text-align: center;
}
h4{
    font-size: 23px;
    font-family: "Palanquin";
    text-align: left;
}
h5{
    font-size: 25px;
    font-family: "Palanquin";
    text-align: left;
}
#ImagenHome{
    float: right;
    width: 1101px; height: 685px;
}
.slider{
    overflow: hidden;
    float: right;
    width: 1377px; height: 685px;
}
.slider ul{
    display: flex;
    width: 1377px; height: 685px;
    animation: cambio 20s infinite alternate;
}
.imagenes-home{
    float: right;
    margin-top: -20px;
    margin-left: 0px;
    padding-left: -200px;
    width: 1377px; height: 685px;
}
@keyframes cambio {
    0% {margin-left: 0;}
    5% {margin-left: 0;}

    15% {margin-left: -100%;}
    20% {margin-left: -100%;}

    30%{margin-left: -200%;}
    45%{margin-left: -200%;}

    55%{margin-left: -300%;}
    65%{margin-left: -300%;}

    75%{margin-left: -400%;}
    85%{margin-left: -400%;}

    90%{margin-left: -500%;}
    100%{margin-left: -500%;}
}
p{
    font-size: 20px;
    font-family: "Palanquin";
    text-align: center;
}
label{
    font-size: 17px;
    font-family: "Palanquin";
    text-align: center;
}
fieldset{
    border: none;
    margin-top: -50px;
}
#Contacto{
    float: right;
    height: 644px; width: 1000px; 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#Mapa{
    float: center; 
    height: 200px; width: 320px;
}
.videos-par{
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    height: 300px;
    width: 450px;
}
.videos-impar{
    float: right;
    padding-right: 100px;
    padding-top: 20px;
    height: 300px;
    width: 450px;
}
.imagenes-par{
    float: right;
    padding-top: 30px;
    height: 214px;
    width: 300px;
    margin-left: 40px;
}
.imagenes-impar{
    float: right;
    padding-top: 30px;
    height: 214px;
    width: 300px;
    margin-left: 40px;
}
#Estudio{
    float: center; 
    height: 644px; 
    width: 1000px;
    text-align: center;
}
.redes{
    margin-left: 20px;
    margin-right: 5px;
    float: right;
    height: 21px;
    width: 21px;
}
.footerhome{
    color: rgb(197, 195, 195);
    float: right;
    margin-top: -65px;
    margin-right: 300px;
    font-size: 17px;
    font-family: "Palanquin";
}
.footerobras{
    color: rgb(0, 0, 0, 0.836);
    float: right;
    margin-top: 70px;
    margin-right: 298px;
    font-size: 17px;
    font-family: "Palanquin";
}
.enviar{
    font-size: 17px;
    font-family: "Palanquin";
    text-align: left;
    height: 35px;
    width: 150px;
}
#Flecha{
    float: right;  
    margin-top: -42px;
    margin-right: 390px;
    height: 30px;
    width: 40px;
}
